<html>
    <head>
        <title>Pierwsza strona Neli</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Zwierzyniec Neli</a></h1>
        </div>

        <div>
            <p>published: 20.01.2019, 12:14</p>
            <h2><a href="">Bolek</a></h2>
            <p>Tu powinnam coś napisać mądrego w innym języku, ale nie mam pomysłu.</p>
        </div>

        <div>
            <p>published: 20.01.2019, 12:14</p>
            <h2><a href="">Lolek</a></h2>
            <p>Skoro w tamtej sekcji nie wiedziałam, co napisać, to tutaj już tym bardziej nie wiem.</p>
        </div>
    </body>
</html>
